<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
</head>
<body>

    <h1>Course list</h1>

    <div>
        <table style="border: 1px solid black">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>School</th>
                <th>Semester</th>
            </tr>                
            <tr data-th-each="course : ${courses}">
                    <td data-th-text="${course.id}"></td>
                    <td data-th-text="${course.name}"></td>
                    <td data-th-text="${course.school}"></td>
                    <td data-th-text="${course.semester}"></td>
             </tr>
        </table>
    </div>
</body>
</html>