<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to your notes!</title>
        <style type = "text/css">
            p{
                    margin: auto;
                    width: 60%;
                    border: 3px solid #73AD21;
                    padding: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Welcome!</h1>

        <div class="center">
            <p id="welcome">Hi, welcome you to my website! Share-Class-Notes provides students a platform to communicate, share the knowledge.Hope you like it! :)</p>
            <br /><br />
            <p id="login">Click <a data-th-href="@{/notes}">here</a> to login.</p>
            <br /><br />
            <p id="course">Click <a data-th-href="@{/courseList}">here</a> to see all courses.</p>
        </div>    
    </body>
</html>