<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>  
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>		
    </head>
    <body>
		<div data-th-if="${param.error}">
            Invalid username and password.
        </div>
        <div data-th-if="${param.logout}">
            You have been logged out.
        </div>
		
		<div class="container">
			<h2>Login</h2>
			<form data-th-action="@{/login}" method="post">
				<div class="form-group">
					<label for="user_name">User name:</label>
					<input type="text" name="username" class="form-control" id="user_name" placeholder="Enter user name" />
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password" />
				</div>
				<button type="submit" class="btn btn-default">Login</button>
			</form>
		</div>
    </body>
</html>