<!DOCTYPE html>
<html>
<head>
    <title>User Home</title>
</head>
<body>

    <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s notes</h1>

    <div>
        <table style="border: 1px solid black">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>School Code</th>
                <th>Class Code</th>
                <th>Brief Introduction</th>
                <th>Rating</th>
            </tr>                
            <tr data-th-each="note : ${notes}">
                    <td data-th-text="${note.id}"></td>
                    <td data-th-text="${note.name}"></td>
                    <td data-th-text="${note.schoolCode}"></td>
                    <td data-th-text="${note.classCode}"></td>
                    <td data-th-text="${note.briefIntro}"></td>
                    <td data-th-text="${note.rating}"></td>
             </tr>
        </table>
    </div>
    
    <hr/>
    Upload Note<br/>
    <form data-th-action="@{/notes/add}" name="addNoteForm" method="post">
        Title:<input type="text" name="name" /><br />
        School Code: <br />
        <input type="radio" name="schoolCode" value="UNKNOWN" checked="checked" />UNKOWN<br />
        <input type="radio" name="schoolCode" value="INFSCI" />INFSCI<br />
        <input type="radio" name="schoolCode" value="LING" />LING<br />
        <input type="radio" name="schoolCode" value="CMCS" />CMCS<br />
        <input type="radio" name="schoolCode" value="COE" />COE<br />
        <input type="radio" name="schoolCode" value="COEA" />COEA<br />
        <input type="radio" name="schoolCode" value="COEE" />COEE<br />
        Class Code:<input type="text" name="classCode" /><br />
        Brief Introduction:<br />
        <textarea rows="10" cols="30" name="briefIntro"></textarea><br />
        <input type="submit" value="Add Note" />
    </form>
    
    <hr />
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>
</body>
</html>