<!DOCTYPE html>
<html>
    <head>
        <title>University</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s universities' list</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>School List</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>                
                <tr data-th-each="university : ${universities}">
                    <td data-th-text="${university.id}"></td>
                    <td data-th-text="${university.name}"></td>
                    <td data-th-text="${university.start}"></td>
                    <td data-th-text="${university.end}"></td>
                    <td>
                        <ul>
                            <li data-th-each="school : ${university.schools}" data-th-text="|${school.name}|"></li>
                        </ul>
                    </td>
                    <td>
                        <form data-th-object="${universitiy.id}" data-th-action="@{/universities/delete/}+${university.id}" data-th-method="delete" onsubmit="return confirm('Are you sure of deleting?')">
                            <input type="submit" value="delete" />
                        </form>
                    </td>
                    <td>
                        <a data-th-object="${university.id}" data-th-href="@{/universityEdit/edit/}+${university.id}">edit</a>
                    </td>
                    
                </tr>
            </table>
        </div>
        
        <hr />
        Add University<br />
        <form data-th-action="@{/universities/add}" name="addUniversityForm" method="post">
            Name: <input type="text" name="name" /><br />
            Start(mm/dd/yy): <input type="text" name="start" /><br />
            End(mm/dd/yy): <input type="text" name="end" /><br />

            <input type="submit" value="Add University"/>
        </form>
        
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>